@font-face {
    font-family: 'lemon_milkregular';
    src: url('fonts/lemonmilk-regular-webfont.woff2') format('woff2'),
         url('fonts/lemonmilk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    outline: 2px solid red;
}

.banner-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.bground-image {
    flex: 1;
    background-image: url('Pictures/robert-tudor--8x6Ffud7Bk-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

form, .form-container {
    flex: 2;
    padding: 2rem;
    background-color: #fafafa;
    display: flex;          /* make form a flex container */
    flex-direction: column;   /* stack children vertically */
    justify-content: center;  /* center vertically */
    align-items: flex-start;  /* align items to the left */
    height: 100%;  
}

.form-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

#banner-text {
    position: absolute;
    font-family: 'lemon_milkregular';
    width: 40vw;
    line-height: 1.5rem;
    top: 5rem;
    margin-left: 2rem;
}
