@font-face {
    font-family: 'High Empathy';
    src: url('fonts/HighEmpathy/HighEmpathy.woff2') format('woff2'),
        url('fonts/HighEmpathy/HighEmpathy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* * {
    outline: 2px solid red;
} */

.banner-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.bground-image {
    flex: 1;
    background-image: url('Pictures/robert-tudor--8x6Ffud7Bk-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    position: relative;
    top: 30%;
    display: flex;
    align-items: center;
    gap: 0.5rem; /* spacing between logo and text */
    z-index: 10;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.605);
}

#odin-text {
    color: #f3f3f3;
    font-family:'Courier New', Courier, monospace;
    font-size: 2rem;
    
}

.odin-logo {
    width: 150px;
    height: 150px;
    background-image: url('Pictures/odin-lined.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 3.5rem;
}

form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 1rem 1rem;
    width: 100%;
}

.form-container {
    flex: 2;
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.form-field {
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

#banner-text {
    font-family: 'High Empathy';
    font-size: 2rem;
    width: 40vw;
    line-height: 1.7rem;
}

#form-ribbon {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
}

#quote-wrapper {
    margin-top: -10rem; /* ← Lifts the quote upward visually */
    margin-right: 20rem;
    margin-bottom: 4rem; /* ← Adds space below quote */
}